<%= form_with model: golf_course do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :zipcode %>
    <%= text_field_tag :zipcode, nil, class: "form-control" %>
  </div>
  
  <div class="mb-2">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :star %>
    <%= f.select :star, (1..5), { include_blank: "--" }, { class: "form-control" } %>
  </div>

  <div class="my-4">
    <%= f.submit "登録", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>