<%= form_with model: golf_course do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :zipcode, "郵便番号" %>
    <%= text_field_tag :zipcode, nil, class: "form-control" %>
  </div>
  
  <div class="mb-2">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :star %>
    <div id="star"></div>
  </div>

  <div class="my-4">
    <%= f.submit "登録", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<script>
  $('#star').raty({                                 
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'golf_course[star]',
    score: <%= @golf_course.star || 0 %>
  });
</script>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>