<table class="table">
  <thead>
    <tr>
      <th width="15%"></th>
      <th width="15%"><%= t "activerecord.attributes.golf_course.name" %></th>
      <th width="15%"><%= t "activerecord.attributes.golf_course.star" %></th>
      <th width="40%"><%= t "activerecord.attributes.golf_course.address" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% golf_courses.each do |golf_course| %>
      <tr>
        <td><%= image_tag golf_course.image, style: "width:100px" if golf_course.image.attached? %></td>
        <td><%= golf_course.name %></td>
        <td>
          <% if golf_course.star %>
            <div id='star_<%= golf_course.id %>'></div>
          <% else %>
            未評価
          <% end %>
        </td>
        <td><%= golf_course.address %></td>
        <td><%= link_to "詳細", golf_course, class: "btn btn-primary" %></td>
        <td> <%= link_to user_path(golf_course.user_id) do %>
            <%= golf_course.user.name %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  <% golf_courses.each do |golf_course| %>
    $('#star_<%= golf_course.id %>').raty({                                 
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      readOnly: true,
      score: <%= golf_course.star || 0 %>
    });
  <% end %>
</script>
