<div class="d-flex justify-content-between">
  <h1>ゴルフ場詳細</h1>
  <div><%= render "public/favorites/favorite_button", golf_course: @golf_course %></div>
</div>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="30%"><%= t "activerecord.attributes.golf_course.name" %></th>
      <td width="70%"><%= @golf_course.name %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.image" %></th>
      <td><%= image_tag @golf_course.image, style: "width:400px" if @golf_course.image.attached? %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.address" %></th>
      <td><%= @golf_course.address %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.caption" %></th>
      <td><%= @golf_course.caption %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.star" %></th>
      <td>
        <% if @golf_course.star %>
          <div id="star"></div>
        <% else %>
          未評価
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.body" %></th>
      <td><%= @golf_course.body %></td>
    </tr>
    <% if @golf_course.latitude.present? && @golf_course.longitude.present? %>
      <tr>
        <td colspan=2>
          <div id="map" data-latitude=<%= @golf_course.latitude %> data-longitude=<%= @golf_course.longitude %>></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<%= link_to "一覧へ戻る", golf_courses_path, class: "btn btn-secondary" %>
<% if current_user == @golf_course.user %>
  <%= link_to "編集", edit_golf_course_path(@golf_course), data: { turbolinks: false }, class: "btn btn-warning" %>
  <%= link_to "削除", @golf_course, method: :delete, data: { confirm: "本当に削除しますか" }, class: "btn btn-danger" %>
<% end %>
<div>
  <p>コメント件数：<%= @golf_course.comments.count %></p>
  <% @golf_course.comments.each do |comment| %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
     <% if comment.user == current_user %>
      <%= link_to "削除", public_golf_course_comment_path(@golf_course, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@golf_course, @comment] , url:  public_golf_course_comments_path(@golf_course) do |f| %>
    <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<script>
  $('#star').raty({                                 
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    readOnly: true,
    score: <%= @golf_course.star || 0 %>,  
  });
</script>

<% if @golf_course.latitude.present? && @golf_course.longitude.present? %>
  <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
<% end %>