<h1>ゴルフ場詳細</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="30%"><%= t "activerecord.attributes.golf_course.name" %></th>
      <td width="70%"><%= @golf_course.name %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.image" %></th>
      <td><%= image_tag @golf_course.image, style: "width:400px" if @golf_course.image.attached? %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.address" %></th>
      <td><%= @golf_course.address %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.caption" %></th>
      <td><%= @golf_course.caption %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.star" %></th>
      <td><%= @golf_course.star %></td>
    </tr>
    <tr>
      <th><%= t "activerecord.attributes.golf_course.body" %></th>
      <td><%= @golf_course.body %></td>
    </tr>
    <tr>
      <td colspan=2>
        <div id="map" data-latitude=<%= @golf_course.latitude %> data-longitude=<%= @golf_course.longitude %>></div>
      </td>
    </tr>
  </tbody>
</table>
 
<%= link_to "一覧へ戻る", golf_courses_path, class: "btn btn-secondary" %>
<% if current_user == @golf_course.user %>
  <%= link_to "編集", edit_golf_course_path(@golf_course), class: "btn btn-warning" %>
  <%= link_to "削除", @golf_course, method: :delete, data: { confirm: "本当に削除しますか" }, class: "btn btn-danger" %>
<% end %>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>